* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1px;
}

body {
    font-size: 14rem;
}

.header-line {
    padding: 10px 0;
    background-color: #151517;
}

.wrapper {
    max-width: 1170px;
    margin: auto;
}

.dfsb {
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.social a {
    display: inline-block;
}

.fb {
    width: 30px;
    height: 31px;
    background-image: url("../img/sprite.png");
}

.tw {
    width: 30px;
    height: 31px;
    background-image: url("../img/sprite.png");
    background-position: -30px 0;
}

.sk {
    width: 30px;
    height: 31px;
    background-image: url("../img/sprite.png");
    background-position: -60px 0;
}

.wrapper li {
    list-style: none;
}

.header-line ul:last-child {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header-line ul:last-child a {
    font-size: 14rem;
    color: #f1f1f3;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
    position: relative;
    padding-left: 39px;
}

.header-line ul:last-child .map:before {
    content: "";
    position: absolute;
    top: -50%;
    left: 0px;
    width: 30px;
    height: 31px;
    display: inline-block;
    background-image: url(../img/sprite.png);
    background-position: -90px 0;
}

.header-line ul:last-child .tell:before {
    content: "";
    position: absolute;
    display: inline-block;
    top: -50%;
    left: 0px;
    width: 30px;
    height: 31px;
    background-image: url(../img/sprite.png);
    background-position: -120px 0;
}

.header-title {
    padding: 30px 0;
}

.logo {
    font-size: 30rem;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    column-gap: 30px;
}

nav ul a {
    font-size: 14rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
}

nav ul a::before {
    content: '';
    transition: 0.3s;
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 3px;
    background-color: #f5ed08;
}

nav ul a:hover::before {
   width: 100%;
}

.slider {
    display: flex;
    justify-content: center;
    padding: 55px 0;
    background:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(../img/slider.jpg) 100% /cover;
    position: relative;
}

.slider div:nth-child(2) {
    text-align: center;
    width: 70%;
}

.slider .arow {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
    opacity: 60%;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    transition: 0.5s;
}

.slider .arow:hover {
    opacity: 100%;
}

.arow-left {
    left: 5%;
}

.arow-right {
    right: 5%;
}

.slider p:first-child {
    font-size: 50rem;
    margin-bottom: 43px;
    letter-spacing: 2rem;
    line-height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

.slider .information-slider {
    font-size: 18rem;
    line-height: 28rem;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
    margin-bottom: 45px;
}

.slider a,
.action a {
    display: inline-block;
    padding: 13.5px 37px;
    border-radius: 5px;
    background-color: #f5ed08;
    font-size: 18rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
    text-decoration: none;
}

section>.wrapper {
    display: flex;
    align-items: center;
}

.card {
    width: 25%;
    text-align: center;
    padding: 46.5px 0;
    border: 2px solid #fff;
}

.card:hover {
    border: 2px solid #f5ed08;
}

.card2 {
    padding-top: 62.5px;
}

.card1:hover>div {
    background-position: 0 -104px;
}

.card2:hover>div {
    background-position: -71px -104px;
}

.card3:hover>div {
    background-position: -146px -104px;
}

.card4:hover>div {
    background-position: -212px -104px;
}


.twentyfourhours {
    width: 71px;
    height: 69px;
    background-image: url(../img/sprite.png);
    background-position: 0 -30px;
    transition: 0.3s;
}

.car {
    width: 75px;
    height: 53px;
    background-image: url(../img/sprite.png);
    background-position: -71px -30px;
    transition: 0.3s;
}

.like {
    width: 66px;
    height: 69px;
    background-image: url(../img/sprite.png);
    background-position: -146px -30px;
    transition: 0.3s;
}

.percent {
    width: 70px;
    height: 74px;
    background-image: url(../img/sprite.png);
    background-position: -212px -30px;
    transition: 0.3s;
}

.card div {
    margin: auto;
    margin-bottom: 31px;
}

.card p:first-child {
    font-size: 18rem;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 16px;
}

.card p:last-child {
    font-size: 14rem;
    line-height: 21rem;
    color: #878787;
    font-weight: 400;
    font-family: "Roboto";
}

.about-company {
    background-color: #f1f1f3;
    padding: 55px 0;
}

.about-company div {
    width: 48%;
    text-align: center;
    margin: auto;
}

.about-company p:first-child {
    font-size: 36rem;
    line-height: 46rem;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 28px;
}

.about-company p:last-child {
    display: inline-block;
    font-size: 16rem;
    line-height: 24rem;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
}

.action {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0, 0.5)), url(../img/action.jpg) 100% /cover;
    padding: 66px 0;
}

.action div {
    width: 50%;
    text-align: center;
    margin: auto;
}

.action p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-weight: 300;
    font-family: "Roboto";
    margin-bottom: 31px;
}

.dishes-popular {
    padding-bottom: 49px;
}

.dishes-popular>div {
    padding: 43px 0;
    width: 60%;
    margin: auto;
    text-align: center;
}

.dishes-popular>div>p {
    font-size: 36rem;
    line-height: 46rem;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 30px;
}

.dishes-popular>div>div {
    display: flex;
    justify-content: center;
    column-gap: 9px;
}

.dishes-popular .button {
    display: inline-block;
    min-width: 150px;
    padding: 13.5px 0;
    border-radius: 5px;
    background-color: #ffffff;
    border: 2px solid #f5ed08;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto";
}

.dishes-popular div:nth-child(3) .button {
    text-align: center;
    min-width: 170px;
    margin: auto;
}

.dishes-popular .button:hover {
    background-color: #f5ed08;
}

.dishes-popular .dishes-img {
    width: 100%;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    margin-bottom: 49px;
}

.dishes-popular .dishes-img img {
    width: 20%;
}

.dishes-popular div:nth-child(3) {
    padding: 0;
}

.customer-reviews {
    padding: 50px 0;
    background-color: #f1f1f3;
}

.customer-reviews>p {
    font-size: 36rem;
    line-height: 46rem;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    margin-bottom: 31px;
}

.customer-reviews-content {
    width: 40%;
    margin: auto;
    padding: 36.5px 30px;
    background-color: #fff;
    margin-bottom: 16px;
}

.customer-reviews>div:nth-child(2)>p {
    font-size: 15rem;
    line-height: 24rem;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.customer-reviews ul {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    list-style: none;
    margin-bottom: 23px;
}

.customer-reviews ul li {
    width: 70px;
    height: 70px;
    background-image: url("../img/sprite.png");
}

.customer-reviews ul li:nth-child(1) {
    background-position: -282px 0;
}

.customer-reviews ul li:nth-child(2) {
    background-position: -352px 0;
}

.customer-reviews ul li:nth-child(3) {
    background-position: -422px 0;
}

.customer-reviews>div:nth-child(3)>p {
    font-size: 13rem;
    line-height: 24rem;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}

.customer-reviews>div:nth-child(3)>p>b {
    font-size: 14rem;
    color: #151517;
    font-weight: 700;
    font-family: "Roboto Slab";
    display: block;
}

.footer-map {
    padding: 164.5px 0;
    background: url("../img/map.jpg");
}

.footer-map div {
    width: 300px;
    margin: auto;
    padding: 35px;
    border-radius: 8px;
    background-color: #151517;
}

.footer-map div ul li {
    list-style: none;
}

.footer-map a {
    font-size: 14rem;
    text-decoration: none;
    color: #f5ed08;
    font-weight: 400;
    font-family: "Roboto";
}

.footer-map a:hover {
    text-decoration: underline;
}

footer section:last-child {
    background-color: #151517;
    color: #f1f1f3;
}

footer .wrapper {
    align-items: flex-start;
}

footer .wrapper div {
    width: 20%;
}

.footer-logo a {
    text-decoration: none;
    font-size: 30rem;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.footer-logo p {
    font-size: 13rem;
    line-height: 24rem;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
}

.footer-menu p,
.footer-contacts p,
.news p:first-child {
    font-size: 14rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #f1f1f3;
    font-weight: 700;
    font-family: "Roboto Slab";
}

footer ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-menu a {
    font-size: 14rem;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}

.footer-menu a:hover {
    font-size: 14rem;
    color: #f5ed08;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}

.footer-contacts a {
    font-size: 14px;
    color: #f1f1f3;
    font-weight: 400;
    text-decoration: none;
    font-family: "Roboto";
}

.footer-contacts a {
    position: relative;
    padding-left: 32px;
}

.footer-contacts a:hover {
    color: #f5ed08;
}

.footer-contacts ul li:nth-child(1) a::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0px;
    width: 12px;
    height: 17px;
    background-image: url("../img/sprite.png");
    background-position: -492px 0;
    transform: translateY(-50%);
}

.footer-contacts ul li:nth-child(2) a::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0px;
    width: 13px;
    height: 14px;
    background-image: url("../img/sprite.png");
    background-position: -504px 0;
    transform: translateY(-50%);
}

.footer-contacts ul li:nth-child(3) a::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 0px;
    width: 16px;
    height: 11px;
    background-image: url("../img/sprite.png");
    background-position: -517px 0;
    transform: translateY(-50%);
}

.news input {
    opacity: 0.200;
    width: 100%;
    padding: 16px 17px;
    border-radius: 5px;
    font-size: 13rem;
    line-height: 24rem;
    color: #878787;
    font-weight: 300;
    font-family: "Roboto";
    background-color: #151517;
    border: 1px solid #ffffff;
    margin-bottom: 40px;
}

.news p:nth-child(3) {
    font-size: 14rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #f1f1f3;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 20px;
}

.news ul {
    display: flex;
    flex-direction: row;
    column-gap: 7px;
}

.news a {
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    background-image: url(../img/sprite.png);
}

.news ul li:nth-child(2) a {
    background-position: -30px 0;
}

.news ul li:nth-child(3) a {
    background-position: -60px 0;
}

footer section:last-child {
    padding: 60px 0;
}